<h1>Subjects <%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>

<%= link_to "Delete subject from all articles.", tag_path(@tag), method: :delete, data: {confirm: "Delete this subject tag from all articles?!"} %>
<br />
<br />

<%= link_to "<< All Subjects", tags_path %>